.body{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    position: fixed;

    z-index: 1000;


    height: 100%;
    width: 100vw;
    transition: visibility ease .5s;
}
.hideBody{
    visibility: hidden;
}




.backdrop{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgb(50,50,50,.4);
    border: none;

    transition: background-color ease .5s;
}
.hideBackdrop{
    background-color: transparent;
}
.cartSection{
    width: 30rem;
    background-color: white;
    z-index: 1;
    
    transition: transform ease .5s;
    /* transform: translateX(30rem); */
}

.hideCart{
    transform: translateX(30rem);
}