.navbar, .scrollUp, .scrollDown {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgb(250, 250, 255);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  transition: transform 300ms ease;
  z-index: 10;
}

.staticNavBar{
  position: absolute;
  display: flex;
  justify-content: space-between;

  background: transparent;
  color: black;

  padding-top: 2rem;
  padding-bottom: 2rem;
  
  height: 2rem;
  width: 100%;


}

.scrollUp{
  transform: translateY(0)
}

.scrollDown{
  transform: translateY(-100%);
}

.scrollGone{
  transform: translateY(0)
}

.hidden{
  display: none;
}

.logo{
  width: 33%;
  padding-left: 5rem;

}

.tabs{
  width: 33%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.user{
  width: 33%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 5rem;
}



.logo_static{
  width: 33%;
}