.body{
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-bottom: 1rem;
    
}

.cart_button{
    height: 3rem;
    width: 7rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(200,200,200);

    transition: background-color linear .05s;

}

.cart_button p{
    font-family: openSansSemiBold;
    font-size: 15px;
    margin: 0;
    color: white;
}

.cart_button:hover{
    cursor: pointer;
}

.cart_button:active{
    background-color: rgb(185,185,185);
}