
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding-top: 100%; 1:1 Aspect Ratio */
    background-color: transparent;

    border: none;
    padding: 0;
    margin: 0;
    text-align: start;
}

.body:hover{
    cursor: pointer;
}
.image{
    width: 100%;
    padding-top: 80%; /* 1:1 Aspect Ratio */

    border: solid 1px rgb(175,175,175)
}
.title, .price{
    font-size: 19px;
}
.desc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: openSansLight;
    font-size: 17px;
}

.desc div{
    display: flex;
    flex-direction: column;
}

.desc p{
    margin: 0;

}


.cat{
    color:rgb(150,150,150)
}